{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>This is an about page</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Placeat, nemo eos ea harum officiis impedit quos architecto
                eligendi, error omnis tempora at dicta porro cum corporis dolor
                voluptate dolorem neque!
            </p>
        </div>
    </div>
</div>
{{ end }}
